  <ion-view view-title="活动列表">
    <ion-content class="padding">
    <button ng-click="newActivity()" ng-hide="curUser.admin">新建活动</button>
      <ion-list>
        <ion-item ng-repeat="activity in activities">
        <!--<div class="item item-body"> -->
          <h2 class="title"> {{activity.title}} </h2> <br>
      
          <a  ng-click="goDetail({{activity}})">
            <img class="full-image" style="height:20%; width:100%" ng-src='{{activity.image}}'/>
          </a>
            <p >
            {{activity.start|formatDateTime}} - 
            <br>{{activity.end|formatDateTime}} <br> 
            地址：{{activity.address}}   |  积分: {{activity.creditReq}}</p>
          <div ng-hide="!curUser.admin">
           <label class="toggle toggle-assertive">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
         </div>
        </ion-item>
      </ion-list>
 </ion-content>               
</ion-view>