<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
body {
font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.orderColor {
color: red;
}
</style>
</head>

<body ng-app="product">
<div class="container" ng-controller="firstController">
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="查找内容" ng-model="search">
</div>
</form>
</div>
</div>
</nav>
<table class="table">
<thead>
<tr>
<th ng-class="{dropup:order===''}" ng-click="changeOrder('activityName')">活动名称<span class="caret" ng-class="{orderColor:orderType==='activityName'}"></span></th>
<th ng-class="{dropup:order===''}" ng-click="changeOrder('time')">时间<span class="caret" ng-class="{orderColor:orderType==='time'}"></span></th>
<th ng-class="{dropup:order===''}" ng-click="changeOrder('adress')">地址<span class="caret" ng-class="{orderColor:orderType==='adress'}"></span></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="item in productData | filter:search | orderBy:order+orderType">
<td>{{item.activityName}}</td>
<td>{{item.time}}</td>
<td>{{item.adress}}</td>
</tr>
</tbody>
</table>
</div>
<script src="http://cdn.bootcss.com/angular.js/1.4.0-rc.2/angular.min.js"></script>
<script type="text/javascript">
angular.module('product', [])
.service('productData', function() {
return [{
activityName: '家庭纠纷',
time: '2010-4-10 17:00 - 18:：00',
adress: '金花村'
}, {
activityName: '打扫卫生',
time: '2010-4-10 16:00 - 18:：00',
adress: '南海大道11号'
}, {
activityName: '献血',
time: '2010-4-11 16:00 - 18:：00',
adress: '龙昆南路11号'
}];
})
.controller('firstController', function($scope, productData) {
$scope.productData = productData;
$scope.orderType = 'activityName';
$scope.order = '-';
$scope.changeOrder = function(type) {
$scope.orderType = type;
if ($scope.order === '') {
$scope.order = '-';
} else {
$scope.order = '';
}
}
});
</script>
</body>

</html>