<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link href="/ionic/css/ionic.min.css" rel="stylesheet">
    <script type="text/javascript" src="/ionic/js/ionic.bundle.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="bar bar-header">
    <%= title %>
    <%- message%>
    </div>

        <form ng-submit="processForm()">
            <fieldset>
                <legend></legend>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="tc">请先登录</p>
                </div>
                <div class="panel-body m15">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="formData.name" id="username" name="username" placeholder="请输入用户名"><span style="color:red" ng-show="formData.name.$dirty && myForm.user.$invalid"><span ng-show="formData.name.$error.required">用户名是必须的。</span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="formData.password" id="password" name="password" placeholder="请输入密码" required>
                    </div>
                </div>
                <div class="form-group">
                        <button type="submit" id="login0">登录</button>
                </div>
                <div class="form-group">
                        <button type="button" id="register0">注册</button>
                </div>
                </div>
                </div>
            </fieldset>
        </form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http, $location) {
    $scope.formData = {};
    $scope.error = "";
    $scope.processForm = function() {
        $http({
            url:'/login',
            method: 'POST',            
            data: $scope.formData      
        }).success(function(data,status){
            if(status == 200) {
                window.location = '/home';
            }

        }).error(function(status, data){
            window.location = '/login';
        })
    }
});
</script>

</body>
</html>