<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link href="/ionic/css/ionic.min.css" rel="stylesheet">
    <script type="text/javascript" src="/ionic/js/ionic.bundle.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="bar bar-header">
        <div class="h1 title"><%= title %></div>
           <%- message%> 
    </div>
    <div class="content has-header">
              <div class="list">
            <label class="item item-input">  
                <i class="icon ion-person"></i>  
                        <input type="text" class="form-control" ng-model="formData.name" id="username" name="username" placeholder="请输入用户名"><span style="color:red" ng-show="formData.name.$dirty && formData.user.$invalid"><span ng-show="formData.name.$error.required">用户名是必须的。</span></span>
            </label>
                </div>
                    <label class="item item-input">  
                        <i class="icon ion-locked"></i> 
                        <input type="text" class="form-control" ng-model="formData.password" id="password" name="password" placeholder="请输入密码" required>
                    </label>

                <div class="padding">
                        <button class="button button-block button-positive" type="button" ng-click="processForm()">登录</button>
                        <button class="button button-block button-positive" type="button" ng-click="register()">注册</button>
                        <br>
                </div>
    </div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http, $location) {
    $scope.formData = {};
    $scope.error = "";
    $scope.register = function() {
                window.location = '/register';        
    }
    $scope.processForm = function() {
        $http({
            url:'/login',
            method: 'POST',            
            data: $scope.formData      
        }).success(function(data,status){
            if(status == 200) {
                window.location = '/home';
            }

        }).error(function(status, data){
            window.location = '/login';
        })
    }
});
</script>

</body>
</html>