<!DOCTYPE html>
<html ng-app="myApp" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="/ionic/css/ionic.min.css" rel="stylesheet">
    <script type="text/javascript" src="/ionic/js/ionic.bundle.js"></script>
    <title><%= title %></title>
</head>
<body>

<div ng-controller="myCtrl">
  <ion-header-bar class="bar-light bar-subheader" title=''>
    <h1 class="title"><%= title %></h1>
    <%- message%> 
  </ion-header-bar>    
  <ion-view>
    <ion-content class="padding">
      <ul class="list">

        <li class="item item-input">
            <i class="icon ion-person"></i>  
            <input type="text" ng-model="formData.name" placeholder="请输入用户名"><span style="color:red" ng-show="formData.name.$dirty && formData.user.$invalid"><span ng-show="formData.name.$error.required">用户名是必须的。</span></span>
        </li>
        <li class="item item-input">
            <i class="icon ion-locked"></i> 
            <input type="text" ng-model="formData.password" placeholder="请输入密码" required>
        </li>
      </ul>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="processForm()">登录</button>       
            <button class="button button-block button-positive" ng-click="register()">注册</button>
        </div>
      </div>
    </ion-content>
</ion-view>

<script type="text/javascript" src="/javascripts/login.js"></script>
</body>
</html>