  <ion-view view-title="活动详情" class="padding">
    <ion-content class="padding">
    <ion-list>
    <ion-item>
          <p><h2>{{details.activity.title}}</h2></p>
          <p class="info">
            <p><img class="full-image" ng-src='{{details.activity.image}}'/></p>
            时间：{{details.activity.start |formatDate}} 
			<p>活动总人数：{{details.activity.maxNumber}}</p>
			<p>剩余可报名人数：{{ details.activity.maxNumber-details.activity.userSign.length }}<p>
            <p>积分要求： {{details.activity.creditReq}}<p>
			<p>活动费用： {{details.activity.price}}<p>
			<p>积分VIP: {{discount}}</p>
			<p>活动状态： {{txt}}
        <p>
			活动详情: <div ng-bind-html="details.activity.description"></div>
          </p>
      <div ng-hide="details.user.admin">
       <label class="item item-input">
         <button class="button button-block button-dark" ng-click="participate()||check()" ng-disabled="detail.details.activity.userSign.length+detail.details.activity.userFinish.length>detail.details.activity.maxNumber-1" ng-hide = "details.user.admin">报名</button>
       </label>
     </div>
     <div>
             <label class="item item-input">
         <button class="button button-block button-dark" ng-click="signedUser()" ng-hide = "!details.user.admin">查看报名用户</button>
                </label>
     </div>
   </ion-item>
    </ion-list>
	</ion-content>               
</ion-view>