    <ion-view view-title="注册">  
      <ion-content class="padding"> 
      <div class="form">       
        <fieldset>
          <legend><span class="number">1</span>账户信息</legend>
          <label for="name">用户名:</label>
          <input type="text" id="name" ng-model="formData.name" name="user_name">
          
          <label for="telephone">电话:</label>
          <input type="text" id="telephone" name="telephone">
          
          <label for="password">密码:</label>
          <input type="password" ng-model="formData.pw" id="password" name="user_password">
          <label for="passwordC">确认密码:</label>
          <input type="password" ng-model="formData.pwc" id="passwordC" name="user_passwordC">          
        </fieldset>
        
        <fieldset>
          <legend class="title"><span class="number">2</span>个人资料</legend>
          <label for="birthday">生日:</label>
          <input type="date" ng-model="formData.birthday" id="birthday" name="birthday"/>
<div class="padding">
  <onezone-datepicker datepicker-object="onezoneDatepicker">
    <button class="button show-onezone-datepicker">
      {{onezoneDatepicker.date | formatDate}}
    </button>
  </onezone-datepicker>
</div>
          <label>性别:</label>
            <label class="item item-radio">
              <input type="radio" name="group" value="go" checked="checked">
              <div class="item-content">
                男
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
              <input type="radio" name="group" value="python">
              <div class="item-content">
                女
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
        </fieldset>
        <fieldset>
        <label>地址:</label>
        <ionic-city-picker options='vm.CityPickData1'></ionic-city-picker>        
        </fieldset>
        <button ng-click="onSubmit()">注册！</button>
      </div>
    </ion-content>               
</ion-view>