<!DOCTYPE html>
<html  ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>

    <link href="/ionic/css/ionic.min.css" rel="stylesheet">
    <style type="text/css">
    .m15{ margin: 15px;}
     .tc{ text-align: center;font-size: 18px;font-weight: 600;}
    </style>
</head>
<body>
   <div class="bar bar-subheader bar-positive">
        <div class="button-bar">
          <a class="button" href="/home">主页</a>
          <a class="button" href="/actlist">活动</a>
          <a class="button" href="/logout">注销</a>
        </div>
      </div>
    <div ng-controller="actCtrl">

  <ion-header-bar class="bar-dark" title=''>
    <h1 class="title"><%= title %></h1>
    <%- message%> 
  </ion-header-bar> 
  <ion-view>
    <ion-content class="padding">
          <p><h2>{{activity.title }}</h2></p>
          <p class="info">
            <img ng-src='../{{activity.image}}'/>
            Date：{{activity.start }} 
            <p>{{ activity.description}}<p>
          </p>
       <label class="item item-input">
         <button class="button button-block button-dark" ng-click="participate()" >报名</button>
       </label>
    </ion-content>               
</ion-view>

</div>
<script type="text/javascript" src="/ionic/js/ionic.bundle.js"></script>
<script src="/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
<script type="text/javascript" src="/javascripts/activity.js"></script>

</body>
</head>
</html>